Name : Shubham Shaha

PRN : 240340128031

## Q1

In [3]:
sent = 'They told that their ages are 23, 25 and 29 respectively.'

In [4]:
from nltk.tokenize import word_tokenize

In [5]:
tokens = word_tokenize(sent)
tokens

['They',
 'told',
 'that',
 'their',
 'ages',
 'are',
 '23',
 ',',
 '25',
 'and',
 '29',
 'respectively',
 '.']

### 1 Find the average of ages.

In [10]:
ages = []
for i in tokens:
    if i.isdigit():
        ages.append(int(i))     
print(sum(ages)/len(ages))

25.666666666666668

### 2 Count nuber of words starts with 't'/'T'

In [14]:
count = 0
for i in tokens:
    if i.lower().startswith('t'):
        count+=1    
print(count)

4

### 3 Count total number of punctuation symbols

In [16]:
count = 0
for i in tokens:
    if not i.isalnum():
        count+=1    
print(count)

2

### 4 Print the words in capital letter which ends with'd'

In [17]:
words = []
for i in tokens:
    if i.endswith('d'):
        words.append(i.upper())     
print(words)

['TOLD', 'AND']

### 5 Merge all words and print (no punctuations)

In [22]:
words = []
for i in tokens:
    if i.isalpha():
        words.append(i)  
print(" ".join(words))

They told that their ages are and respectively

## Q2

In [24]:
flag = 'The national flag of India, colloquially called Tiraṅgā (the tricolour), is a horizontal rectangular tricolour flag, the colours being of India saffron, white and India green; with the Ashoka Chakra, a 24-spoke wheel, in navy blue at its centre.[1][2] It was adopted in its present form during a meeting of the Constituent Assembly held on 22 July 1947, and it became the official flag of the Union of India on 15 August 1947. The flag was subsequently retained as that of the Republic of India. In India, the term "tricolour" almost always refers to the Indian national flag.'

In [30]:
tokens = word_tokenize(flag)
tokens

['The',
 'national',
 'flag',
 'of',
 'India',
 ',',
 'colloquially',
 'called',
 'Tiraṅgā',
 '(',
 'the',
 'tricolour',
 ')',
 ',',
 'is',
 'a',
 'horizontal',
 'rectangular',
 'tricolour',
 'flag',
 ',',
 'the',
 'colours',
 'being',
 'of',
 'India',
 'saffron',
 ',',
 'white',
 'and',
 'India',
 'green',
 ';',
 'with',
 'the',
 'Ashoka',
 'Chakra',
 ',',
 'a',
 '24-spoke',
 'wheel',
 ',',
 'in',
 'navy',
 'blue',
 'at',
 'its',
 'centre',
 '.',
 '[',
 '1',
 ']',
 '[',
 '2',
 ']',
 'It',
 'was',
 'adopted',
 'in',
 'its',
 'present',
 'form',
 'during',
 'a',
 'meeting',
 'of',
 'the',
 'Constituent',
 'Assembly',
 'held',
 'on',
 '22',
 'July',
 '1947',
 ',',
 'and',
 'it',
 'became',
 'the',
 'official',
 'flag',
 'of',
 'the',
 'Union',
 'of',
 'India',
 'on',
 '15',
 'August',
 '1947',
 '.',
 'The',
 'flag',
 'was',
 'subsequently',
 'retained',
 'as',
 'that',
 'of',
 'the',
 'Republic',
 'of',
 'India',
 '.',
 'In',
 'India',
 ',',
 'the',
 'term',
 '``',
 'tricolour',
 "''",
 'almost',
 'always',
 'refers',
 'to',
 'the',
 'Indian',
 'national',
 'flag',
 '.']

### 1 Count total no of words

In [28]:
count = 0
for i in tokens:
    if i.isalpha():
        count+=1    
print(count)

93

### 2 Count percentage of punctuation marks

In [34]:
count = 0
import string
for i in tokens:
    if i in string.punctuation:
        count+=1    
print(100*count/len(tokens))

15.702479338842975

### 3 Print total no of lines

In [35]:
count = 0
import string
for i in tokens:
    if i=='.':
        count+=1    
print(count)

4

### 4 How many words are in title case?

In [41]:
count = 0
for i in tokens:
    if ((i[0].upper()==i[0]) and (i[1:].lower()==i[1:]) and i.isalpha()):
        count+=1    
print(count)

20

### 5 Remove the numbers and print text

In [37]:
words = []
for i in tokens:
    if not i.isdigit():
        words.append(i)  
print(" ".join(words))

The national flag of India , colloquially called Tiraṅgā ( the tricolour ) , is a horizontal rectangular tricolour flag , the colours being of India saffron , white and India green ; with the Ashoka Chakra , a 24-spoke wheel , in navy blue at its centre . [ ] [ ] It was adopted in its present form during a meeting of the Constituent Assembly held on July , and it became the official flag of the Union of India on August . The flag was subsequently retained as that of the Republic of India . In India , the term `` tricolour '' almost always refers to the Indian national flag .