In [9]:
import pandas as pd
import numpy as np
import surprise

In [10]:
ratings = pd.read_excel("[final] April 2015 to Nov 30 2019 - Transformed Jester Data - .xlsx",header = None)
ratings.head()

,0,1,2,3,4,5,6,7,8,9,...,149,150,151,152,153,154,155,156,157,158
0,1,99,99,99,99,99,99,99.0,99.0,99,...,99.0,99.0,99.00,99.00,99.0,99.0,99.0,99.0,99.00,99.00
1,1,99,99,99,99,99,99,99.0,99.0,99,...,99.0,99.0,99.00,99.00,99.0,99.0,99.0,99.0,99.00,99.00
2,4,99,99,99,99,99,99,99.0,99.0,99,...,99.0,99.0,99.00,99.00,99.0,99.0,99.0,99.0,99.00,99.00
3,47,99,99,99,99,99,99,99.0,99.0,99,...,99.0,99.0,5.61,-4.51,0.0,0.0,99.0,0.0,5.93,4.19
4,13,99,99,99,99,99,99,99.0,99.0,99,...,99.0,99.0,99.00,99.00,99.0,0.0,99.0,99.0,99.00,0.00

In [11]:
ratings = pd.melt(ratings,id_vars=0)
ratings.columns=['uid','iid','rating']
ratings = ratings[(ratings['rating']>=-10) & (ratings['rating']<=10)]

In [12]:
lowest_rating = ratings['rating'].min()
highest_rating = ratings['rating'].max()
print("Ratings range between {0} and {1}".format(lowest_rating,highest_rating))
reader = surprise.Reader(rating_scale = (lowest_rating,highest_rating))

Ratings range between -10.0 and 10.0

Converting the data into **surprise** format:

In [13]:
data = surprise.Dataset.load_from_df(ratings,reader)
type(data)

surprise.dataset.DatasetAutoFolds

In [14]:
from surprise.model_selection import GridSearchCV
from surprise.model_selection.split import KFold

param_grid = {'n_epochs': np.arange(50,150,10),'lr_all':np.linspace(0.001,1,5),'reg_all':np.linspace(0.01,10.8,5),'n_factors':[50,100]}
kfold = KFold(n_splits=5, random_state=24, shuffle=True)
gs = GridSearchCV(surprise.SVD, param_grid, measures=['rmse', 'mae'], cv=kfold)

gs.fit(data)

Running the Grid Search CV

**Best Score**

In [15]:
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

4.8685272868000125
{'n_epochs': 70, 'lr_all': 0.001, 'reg_all': 2.7075, 'n_factors': 50}