In [2]:
import pandas as pd
import numpy as np
import surprise

In [5]:
ratings = pd.read_csv("u.data",sep='\t',names = ['uid','iid','rating','timestamp'])
ratings = ratings.drop('timestamp',axis=1)
ratings.head()

   uid  iid  rating
0  196  242       3
1  186  302       3
2   22  377       1
3  244   51       2
4  166  346       1

In [12]:
lowest_rating = ratings['rating'].min()
highest_rating = ratings['rating'].max()
print("Ratings range between {0} and {1}".format(lowest_rating,highest_rating))
reader = surprise.Reader(rating_scale = (lowest_rating,highest_rating))

Ratings range between 1 and 5

Converting the data into **surprise** format:

In [14]:
data = surprise.Dataset.load_from_df(ratings,reader)
type(data)

surprise.dataset.DatasetAutoFolds

Tuning with different K

In [20]:
from surprise.model_selection import GridSearchCV
from surprise.model_selection.split import KFold

param_grid = {'n_epochs': np.arange(50,150,10),'lr_all':np.linspace(0.001,1,5),'reg_all':np.linspace(0.01,10.8,5),'n_factors':[50,100]}
kfold = KFold(n_splits=5, random_state=24, shuffle=True)
gs = GridSearchCV(surprise.SVD, param_grid, measures=['rmse', 'mae'], cv=kfold)

Running the Grid Search CV

In [ ]:
gs.fit(data)

**Best Score**

In [ ]:
print(gs.best_score['rmse'])

**Best Param**

In [ ]:
print(gs.best_params['rmse'])