In [41]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [42]:
df = pd.read_csv(r"C:\Users\Administrator.DAI-PC2\Downloads\Shubham\Practical Machine Learning\ClassWork\Datasets\pizza.csv")

In [43]:
df

    Promote  Sales
0        23    554
1        56   1339
2        34    815
3        25    609
4        67   1600
5        82   2000
6        46   1000
7        14    300
8         6    150
9        47   1150
10       52   1200
11       88   2000
12       71   1750
13       78   2000
14       66   1500
15       44   1000
16       68   1600
17       90   2000
18       22    550

In [44]:
xi= df['Promote']
yi= df['Sales']
n = len(df)
b1 = (((xi*yi)).mean()-(xi.mean()*yi.mean()))/(((xi**2).mean())-(xi.mean()**2))
b0 = yi.mean()-b1*xi.mean()
print(b0)
print(b1)

5.485865363253652
23.506403021550746

In [45]:
X= df[['Promote']]
y= df['Sales']
lr = LinearRegression()
lr.fit(X,y)
print(lr.intercept_)
print(lr.coef_)

5.4858653632529695
[23.50640302]

In [46]:
df = pd.read_csv(r"C:\Users\Administrator.DAI-PC2\Downloads\Shubham\Practical Machine Learning\ClassWork\Datasets\Insure_auto.csv",index_col = 0)
df.head()

        Home  Automobile  Operating_Cost
Branch
B01      400        1200          124000
B02      350         360           71000
B03      600         800          136000
B04      800        1800          219000
B05      900        1600          230000

In [48]:
x1 = df['Home']
x2 = df['Automobile']
y = df['Operating_Cost']

A = np.array( [[x1.sum(),(x1**2).sum(),(x1*x2).sum()],
               [x2.sum(),(x1*x2).sum(),(x2**2).sum()],
               [1,x1.mean(),x2.mean()]])
b = np.array([(x1*y).sum(),(x2*y).sum(),y.mean()])
np.linalg.solve(A,b)

array([-10084.21313095,    167.32668857,     54.10529229])

In [50]:
X= df[['Home','Automobile']]
y= df['Operating_Cost']
lr = LinearRegression()
lr.fit(X,y)
print(lr.intercept_)
print(lr.coef_)

-10084.213130948774
[167.32668857  54.10529229]