In [76]:
import pandas as pd
import numpy as np
from datetime import datetime,date
from dateutil import parser

1. Write a Pandas program to create
a) Datetime object for Jan 15 2012.

In [3]:
print(datetime(2012,1,15))

2012-01-15 00:00:00

b) Specific date and time of 9:20 pm.

In [4]:
print(datetime(2012,1,15,21,20))

2012-01-15 21:20:00

c) Local date and time.

In [5]:
print(datetime.now())

2024-04-25 18:50:49.778677

d) A date without time.

In [6]:
print(datetime(2012,1,15).date())

2012-01-15

e) Current date.

In [7]:
print(datetime.now().date())

2024-04-25

f) Time from a datetime.

In [8]:
print(datetime(2012,1,15).time())

00:00:00

g) Current local time.

In [9]:
print(datetime.now().time())

18:50:49.817444

2. Write a Pandas program to create
a) a specific date using timestamp.

In [10]:
print(pd.Timestamp("2012 01 15"))

2012-01-15 00:00:00

b) date and time using timestamp.

In [11]:
print(pd.Timestamp("2012 01 15 9:20"))

2012-01-15 09:20:00

c) a time adds in the current local date using timestamp.

In [12]:
print(pd.Timestamp("9:20"))

2024-04-25 09:20:00

d) current date and time using timestamp.

In [13]:
print(pd.Timestamp("now"))

2024-04-25 18:50:49.843547

3. Write a Pandas program to create a date from a given year, month, day and 
another date from a given string formats.

In [14]:
print(datetime(year=2024,month=1,day=24))
print(parser.parse("2012 01 12"))

2024-01-24 00:00:00
2012-01-12 00:00:00

4. Write a Pandas program to print the day after and before a specified date. Also 
print the days between two given dates.

In [15]:
day = datetime(year=2024,month=1,day=24)
print(day+pd.Timedelta(days=1))
print(day-pd.Timedelta(days=1))
print(datetime(2012,11,15)-datetime(2012,1,15))

2024-01-25 00:00:00
2024-01-23 00:00:00
305 days, 0:00:00

5. Write a Pandas program to create a time-series with two index labels and 
random values. Also print the type of the index.

In [16]:
date= [datetime(2012,11,15),datetime(2012,1,15)]
df = pd.Series(np.random.rand(2),date)
print(df)
df.index

2012-11-15    0.984244
2012-01-15    0.790260
dtype: float64

DatetimeIndex(['2012-11-15', '2012-01-15'], dtype='datetime64[ns]', freq=None)

6. Write a Pandas program to create a time-series from a given list of dates as 
strings.

In [17]:
lst = ["2011-01-15","2012-01-19","2012-01-28","2012-01-28"]
pd.Series(np.random.rand(4),lst)

2011-01-15    0.083866
2012-01-19    0.157204
2012-01-28    0.328398
2012-01-28    0.470665
dtype: float64

7. Write a Pandas program to create a time series object that has time indexed 
data. Also select the dates of same year and select the dates between certain 
dates.

In [18]:
index= pd.DatetimeIndex(lst)
df = pd.Series(np.random.rand(4),index=index)
print(df)
print(df["2012-01-01":"2012-12-31"])

2011-01-15    0.436519
2012-01-19    0.445495
2012-01-28    0.552638
2012-01-28    0.217987
dtype: float64
2012-01-19    0.445495
2012-01-28    0.552638
2012-01-28    0.217987
dtype: float64

8. Write a Pandas program to create a date range using a startpoint date and a 
number of periods.

In [19]:
pd.date_range("2021-12-01",periods=45)

DatetimeIndex(['2021-12-01', '2021-12-02', '2021-12-03', '2021-12-04',
               '2021-12-05', '2021-12-06', '2021-12-07', '2021-12-08',
               '2021-12-09', '2021-12-10', '2021-12-11', '2021-12-12',
               '2021-12-13', '2021-12-14', '2021-12-15', '2021-12-16',
               '2021-12-17', '2021-12-18', '2021-12-19', '2021-12-20',
               '2021-12-21', '2021-12-22', '2021-12-23', '2021-12-24',
               '2021-12-25', '2021-12-26', '2021-12-27', '2021-12-28',
               '2021-12-29', '2021-12-30', '2021-12-31', '2022-01-01',
               '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05',
               '2022-01-06', '2022-01-07', '2022-01-08', '2022-01-09',
               '2022-01-10', '2022-01-11', '2022-01-12', '2022-01-13',
               '2022-01-14'],
              dtype='datetime64[ns]', freq='D')

9. Write a Pandas program to create a whole month of dates in daily frequencies. 
Also find the maximum, minimum timestamp and indexs.

In [20]:
dates = pd.Series(pd.date_range("2021-12-01",periods=31))
print(dates)
print("Maximum",dates.max())
print("Minimum",dates.min())
print("Maximum",dates.idxmax())
print("Minimum",dates.idxmin())

0    2021-12-01
1    2021-12-02
2    2021-12-03
3    2021-12-04
4    2021-12-05
5    2021-12-06
6    2021-12-07
7    2021-12-08
8    2021-12-09
9    2021-12-10
10   2021-12-11
11   2021-12-12
12   2021-12-13
13   2021-12-14
14   2021-12-15
15   2021-12-16
16   2021-12-17
17   2021-12-18
18   2021-12-19
19   2021-12-20
20   2021-12-21
21   2021-12-22
22   2021-12-23
23   2021-12-24
24   2021-12-25
25   2021-12-26
26   2021-12-27
27   2021-12-28
28   2021-12-29
29   2021-12-30
30   2021-12-31
dtype: datetime64[ns]
Maximum 2021-12-31 00:00:00
Minimum 2021-12-01 00:00:00
Maximum 30
Minimum 0

10. Write a Pandas program to create a time series using three months 
frequency.

In [21]:
pd.date_range("2021-1-12",periods=24,freq="3M")

DatetimeIndex(['2021-01-31', '2021-04-30', '2021-07-31', '2021-10-31',
               '2022-01-31', '2022-04-30', '2022-07-31', '2022-10-31',
               '2023-01-31', '2023-04-30', '2023-07-31', '2023-10-31',
               '2024-01-31', '2024-04-30', '2024-07-31', '2024-10-31',
               '2025-01-31', '2025-04-30', '2025-07-31', '2025-10-31',
               '2026-01-31', '2026-04-30', '2026-07-31', '2026-10-31'],
              dtype='datetime64[ns]', freq='3M')

11. Write a Pandas program to create a sequence of durations increasing by an 
hour.

In [22]:
pd.timedelta_range(0,periods=24,freq="H")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:00:00', '0 days 02:00:00',
                '0 days 03:00:00', '0 days 04:00:00', '0 days 05:00:00',
                '0 days 06:00:00', '0 days 07:00:00', '0 days 08:00:00',
                '0 days 09:00:00', '0 days 10:00:00', '0 days 11:00:00',
                '0 days 12:00:00', '0 days 13:00:00', '0 days 14:00:00',
                '0 days 15:00:00', '0 days 16:00:00', '0 days 17:00:00',
                '0 days 18:00:00', '0 days 19:00:00', '0 days 20:00:00',
                '0 days 21:00:00', '0 days 22:00:00', '0 days 23:00:00'],
               dtype='timedelta64[ns]', freq='H')

12. Write a Pandas program to convert year and day of year into a single 
datetime column of a dataframe.

In [23]:
year = [2015,2016,2017,2018]
day = [1,20,102,307]
s = pd.Series(year)*1000+pd.Series(day)
pd.to_datetime(s,format = "%Y%j")

0   2015-01-01
1   2016-01-20
2   2017-04-12
3   2018-11-03
dtype: datetime64[ns]

13. Write a Pandas program to create a series of Timestamps from a DataFrame 
of integer or string columns. Also create a series of Timestamps using specified 
columns.

In [24]:
data = pd.DataFrame({"year":[2012,2015,2018,2021],"month":[1,2,4,6],"day":[1,12,17,21],"hour":[2,13,16,21]})
print(pd.to_datetime(data))
print(pd.to_datetime(data[['year', 'month', 'day']]))

0   2012-01-01 02:00:00
1   2015-02-12 13:00:00
2   2018-04-17 16:00:00
3   2021-06-21 21:00:00
dtype: datetime64[ns]
0   2012-01-01
1   2015-02-12
2   2018-04-17
3   2021-06-21
dtype: datetime64[ns]

14. Write a Pandas program to check if a day is a business day (weekday) or not.

In [25]:
print(bool(len(pd.bdate_range("2018-02-17","2018-02-17"))))
print(bool(len(pd.bdate_range("2018-02-19","2018-02-19"))))

False
True

15. Write a Pandas program to get a time series with the last working days of 
each month of a specific year.

In [26]:
pd.date_range("2021-01-01",periods=24,freq="BM")

DatetimeIndex(['2021-01-29', '2021-02-26', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-30', '2021-08-31',
               '2021-09-30', '2021-10-29', '2021-11-30', '2021-12-31',
               '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-29',
               '2022-05-31', '2022-06-30', '2022-07-29', '2022-08-31',
               '2022-09-30', '2022-10-31', '2022-11-30', '2022-12-30'],
              dtype='datetime64[ns]', freq='BM')

16. Write a Pandas program to create a time series combining hour and minute.

In [27]:
pd.timedelta_range(0, periods=30, freq="1H20T")

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80T')

17. Write a Pandas program to convert unix/epoch time to a regular time stamp 
in UTC. Also convert the said timestamp in to a given time zone.

In [31]:
epoch_t = 1654321235
timestamp = pd.to_datetime(epoch_t,unit = 's')
print('timestamp - ',timestamp)
print("Convert timestamp to Asia/Calcatta : ",timestamp.tz_localize("UTC").tz_convert("Asia/Calcutta"))

timestamp -  2022-06-04 05:40:35
Convert timestamp to Asia/Calcatta :  2022-06-04 11:10:35+05:30

18. Write a Pandas program to create a time series object with a time zone.

In [34]:
pd.Timestamp("2021-12-31",tz="US/Pacific")

Timestamp('2021-12-31 00:00:00-0800', tz='US/Pacific')

19. Write a Pandas program to remove the time zone information from a Time 
series data.

In [36]:
date = pd.Timestamp("2021-12-31",tz="US/Pacific")
date.tz_localize(None)

Timestamp('2021-12-31 00:00:00')

20. Write a Pandas program to subtract two timestamps of same time zone or 
different time zone.

In [39]:
date1 = pd.Timestamp("2021-12-31",tz="US/Pacific")
date2 = pd.Timestamp("2021-12-28",tz="US/Pacific")
print("Difference in time -",date1-date2)
date1 = pd.Timestamp("2021-12-31",tz="US/Pacific")
date2 = pd.Timestamp("2021-12-31",tz="US/Eastern")
print("Difference in time -",date1-date2)

Difference in time - 3 days 00:00:00
Difference in time - 0 days 03:00:00

21. Write a Pandas program to calculate all Thursdays between two given days.

In [40]:
pd.date_range("2021-01-01","2022-01-01",freq="W-THU")

DatetimeIndex(['2021-01-07', '2021-01-14', '2021-01-21', '2021-01-28',
               '2021-02-04', '2021-02-11', '2021-02-18', '2021-02-25',
               '2021-03-04', '2021-03-11', '2021-03-18', '2021-03-25',
               '2021-04-01', '2021-04-08', '2021-04-15', '2021-04-22',
               '2021-04-29', '2021-05-06', '2021-05-13', '2021-05-20',
               '2021-05-27', '2021-06-03', '2021-06-10', '2021-06-17',
               '2021-06-24', '2021-07-01', '2021-07-08', '2021-07-15',
               '2021-07-22', '2021-07-29', '2021-08-05', '2021-08-12',
               '2021-08-19', '2021-08-26', '2021-09-02', '2021-09-09',
               '2021-09-16', '2021-09-23', '2021-09-30', '2021-10-07',
               '2021-10-14', '2021-10-21', '2021-10-28', '2021-11-04',
               '2021-11-11', '2021-11-18', '2021-11-25', '2021-12-02',
               '2021-12-09', '2021-12-16', '2021-12-23', '2021-12-30'],
              dtype='datetime64[ns]', freq='W-THU')

22. Write a Pandas program to find the all the business quarterly begin and end 
dates of a specified year.

In [54]:
print("All the business quarterly begin dates - ",pd.date_range("2018-01-01","2019-01-01",freq = 'BQS-APR').values)
print("All the business quarterly end dates - ",pd.date_range("2018-01-01","2019-01-01",freq = 'BQ-APR').values)

All the business quarterly begin dates -  ['2018-01-01T00:00:00.000000000' '2018-04-02T00:00:00.000000000'
 '2018-07-02T00:00:00.000000000' '2018-10-01T00:00:00.000000000'
 '2019-01-01T00:00:00.000000000']
All the business quarterly end dates -  ['2018-01-31T00:00:00.000000000' '2018-04-30T00:00:00.000000000'
 '2018-07-31T00:00:00.000000000' '2018-10-31T00:00:00.000000000']

23. Write a Pandas program to generate sequences of fixed-frequency dates and 
time spans intervals.

In [55]:
pd.date_range('2030-01-01', periods=10, freq='3H')

DatetimeIndex(['2030-01-01 00:00:00', '2030-01-01 03:00:00',
               '2030-01-01 06:00:00', '2030-01-01 09:00:00',
               '2030-01-01 12:00:00', '2030-01-01 15:00:00',
               '2030-01-01 18:00:00', '2030-01-01 21:00:00',
               '2030-01-02 00:00:00', '2030-01-02 03:00:00'],
              dtype='datetime64[ns]', freq='3H')

24. Write a Pandas program to generate time series combining day and intraday 
offsets intervals.

In [56]:
pd.date_range('2029-01-01 00:00:00', periods=20, freq='1D10min20U')

DatetimeIndex([       '2029-01-01 00:00:00', '2029-01-02 00:10:00.000020',
               '2029-01-03 00:20:00.000040', '2029-01-04 00:30:00.000060',
               '2029-01-05 00:40:00.000080', '2029-01-06 00:50:00.000100',
               '2029-01-07 01:00:00.000120', '2029-01-08 01:10:00.000140',
               '2029-01-09 01:20:00.000160', '2029-01-10 01:30:00.000180',
               '2029-01-11 01:40:00.000200', '2029-01-12 01:50:00.000220',
               '2029-01-13 02:00:00.000240', '2029-01-14 02:10:00.000260',
               '2029-01-15 02:20:00.000280', '2029-01-16 02:30:00.000300',
               '2029-01-17 02:40:00.000320', '2029-01-18 02:50:00.000340',
               '2029-01-19 03:00:00.000360', '2029-01-20 03:10:00.000380'],
              dtype='datetime64[ns]', freq='87000000020U')

25. Write a Pandas program to extract the day name from a specified date. Add 2 
days and 1 business day with the specified date

In [60]:
day = pd.Timestamp('2020-02-07')
print(day.day_name())
print("Add 2 days : ",day+pd.Timedelta("2 day"))
print("Next Business day : ",day+pd.offsets.BDay())

Friday
Add 2 days :  2020-02-09 00:00:00
Next Business day :  2020-02-10 00:00:00

26. Write a Pandas program to convert integer or float epoch times to Timestamp 
and DatetimeIndex.

In [65]:
epoch_t = [1233467267,1137128238]
date = pd.to_datetime(epoch_t,unit = 's')
print(date)

DatetimeIndex(['2009-02-01 05:47:47', '2006-01-13 04:57:18'], dtype='datetime64[ns]', freq=None)

27. Write a Pandas program to calculate one, two, three business day(s) from a 
specified date. Also find the next business month end from a specific date.

In [71]:
day = datetime(2021,12,4)
from pandas.tseries.offsets import BusinessDay,BMonthEnd
print("Next Business day : ",day+BusinessDay())
print("Next Business day : ",day+2*BusinessDay())
print("Next Business day : ",day+3*BusinessDay())
print("Next Business day : ",day+BMonthEnd())

Next Business day :  2021-12-06 00:00:00
Next Business day :  2021-12-07 00:00:00
Next Business day :  2021-12-08 00:00:00
Next Business day :  2021-12-31 00:00:00

28. Write a Pandas program to create a period index represent all monthly 
boundaries of a given year. Also print start and end time for each period object in 
the said index.

In [78]:
sdt = datetime(2020, 1, 1)
edt = datetime(2020, 12, 31)
data = pd.period_range(sdt, edt, freq='M')
print(data)
for d in data: 
    print ("{0} {1}".format(d.start_time, d.end_time))

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]')
2020-01-01 00:00:00 2020-01-31 23:59:59.999999999
2020-02-01 00:00:00 2020-02-29 23:59:59.999999999
2020-03-01 00:00:00 2020-03-31 23:59:59.999999999
2020-04-01 00:00:00 2020-04-30 23:59:59.999999999
2020-05-01 00:00:00 2020-05-31 23:59:59.999999999
2020-06-01 00:00:00 2020-06-30 23:59:59.999999999
2020-07-01 00:00:00 2020-07-31 23:59:59.999999999
2020-08-01 00:00:00 2020-08-31 23:59:59.999999999
2020-09-01 00:00:00 2020-09-30 23:59:59.999999999
2020-10-01 00:00:00 2020-10-31 23:59:59.999999999
2020-11-01 00:00:00 2020-11-30 23:59:59.999999999
2020-12-01 00:00:00 2020-12-31 23:59:59.999999999

29. Write a Pandas program create a series with a PeriodIndex which represents 
all the calendar month periods in 2029 and 2031. Also print the values for all 
periods in 2030.

In [86]:
data =pd.Series(np.random.randn(36), pd.period_range('1/1/2029','12/31/2031', freq='M'))
print(data)
data["2030"]

2029-01    0.588823
2029-02    1.855279
2029-03   -1.243757
2029-04    1.400309
2029-05    0.714319
2029-06    0.689467
2029-07   -0.085454
2029-08    1.547358
2029-09    0.701759
2029-10   -0.256261
2029-11   -0.158923
2029-12   -0.008739
2030-01   -0.949916
2030-02    0.587899
2030-03   -0.814810
2030-04    1.751454
2030-05    0.137122
2030-06   -0.394396
2030-07   -0.327042
2030-08   -0.720489
2030-09    1.064945
2030-10   -0.962485
2030-11    2.141261
2030-12   -0.048460
2031-01    0.548028
2031-02   -0.364717
2031-03   -0.747810
2031-04   -0.660231
2031-05   -1.126470
2031-06   -1.327503
2031-07    0.891509
2031-08    0.498248
2031-09   -0.163565
2031-10    0.069316
2031-11   -0.607238
2031-12    1.308210
Freq: M, dtype: float64

2030-01   -0.949916
2030-02    0.587899
2030-03   -0.814810
2030-04    1.751454
2030-05    0.137122
2030-06   -0.394396
2030-07   -0.327042
2030-08   -0.720489
2030-09    1.064945
2030-10   -0.962485
2030-11    2.141261
2030-12   -0.048460
Freq: M, dtype: float64

30. Write a Pandas program to generate holidays between two dates using the 
US federal holiday calendar

In [91]:
from pandas.tseries.holiday import USFederalHolidayCalendar 
cal = USFederalHolidayCalendar()
for dt in cal.holidays(start=datetime(2021,1,1), end=datetime(2021,12,31)): 
    print (dt)

2021-01-01 00:00:00
2021-01-18 00:00:00
2021-02-15 00:00:00
2021-05-31 00:00:00
2021-06-18 00:00:00
2021-07-05 00:00:00
2021-09-06 00:00:00
2021-10-11 00:00:00
2021-11-11 00:00:00
2021-11-25 00:00:00
2021-12-24 00:00:00
2021-12-31 00:00:00

31. Write a Pandas program to create a monthly time period and display the list 
of names in the current local scope.

In [94]:
mtp = pd.Period('2024-04-12','M')
print(mtp)
print(dir(mtp))

2024-04
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

32. Write a Pandas program to create a yearly time period from a specified year 
and display the properties of this period

In [96]:
ytp  =pd.Period('2011-01-01','Y')
print(ytp)
print(dir(ytp))

2011
['__add__', '__array_priority__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']