In [2]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
sentence1 = "It is a good practice for us."
sentence2= "It was also good to know about it."

In [4]:
tfidf = TfidfVectorizer()

In [7]:
new_data = tfidf.fit_transform([sentence1, sentence2])

new_data.toarray()

array([[0.        , 0.        , 0.44665616, 0.31779954, 0.44665616,
        0.31779954, 0.        , 0.44665616, 0.        , 0.44665616,
        0.        ],
       [0.36439074, 0.36439074, 0.        , 0.25926702, 0.        ,
        0.51853403, 0.36439074, 0.        , 0.36439074, 0.        ,
        0.36439074]])

In [10]:
df = pd.DataFrame(new_data.toarray(), columns = tfidf.get_feature_names_out())
df

,about,also,for,good,is,it,know,practice,to,us,was
0,0.000000,0.000000,0.446656,0.317800,0.446656,0.317800,0.000000,0.446656,0.000000,0.446656,0.000000
1,0.364391,0.364391,0.000000,0.259267,0.000000,0.518534,0.364391,0.000000,0.364391,0.000000,0.364391