In [10]:
import pandas as pd

from nltk.tokenize import word_tokenize

In [75]:
sentence1 = "It is a good practice for us."
sentence2= "It was also good to know about it."

In [76]:
tokens1 = word_tokenize(sentence1.lower()) 
tokens2 = word_tokenize(sentence2.lower())

In [77]:
count1 = pd.Series(tokens1).value_counts()
count2 = pd.Series(tokens2).value_counts()

In [78]:
count = pd.concat([count1, count2],axis=1, join='outer', ignore_index=True).T
count.fillna(0, inplace= True)
count

    it   is    a  good  practice  for   us    .  was  also   to  know  about
0  1.0  1.0  1.0   1.0       1.0  1.0  1.0  1.0  0.0   0.0  0.0   0.0    0.0
1  2.0  0.0  0.0   1.0       0.0  0.0  0.0  1.0  1.0   1.0  1.0   1.0    1.0

In [51]:
from sklearn.feature_extraction.text import CountVectorizer

In [54]:
cvt = CountVectorizer()

new_data = cvt.fit_transform([sentence1, sentence2])

new_data.toarray()

array([[0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0],
       [1, 1, 0, 1, 0, 2, 1, 0, 1, 0, 1]], dtype=int64)

In [56]:
cvt.get_feature_names_out()

array(['about', 'also', 'for', 'good', 'is', 'it', 'know', 'practice',
       'to', 'us', 'was'], dtype=object)

In [63]:
df = pd.DataFrame(new_data.toarray(), index = [1,2], columns = cvt.get_feature_names_out())
df

   about  also  for  good  is  it  know  practice  to  us  was
1      0     0    1     1   1   1     0         1   0   1    0
2      1     1    0     1   0   2     1         0   1   0    1

### n-grams

In [80]:
cvt = CountVectorizer(ngram_range= (1,2))

new_data = cvt.fit_transform([sentence1, sentence2])

new_data.toarray()

array([[0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0,
        0],
       [1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 2, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1,
        1]], dtype=int64)

In [81]:
cvt.get_feature_names_out()

array(['about', 'about it', 'also', 'also good', 'for', 'for us', 'good',
       'good practice', 'good to', 'is', 'is good', 'it', 'it is',
       'it was', 'know', 'know about', 'practice', 'practice for', 'to',
       'to know', 'us', 'was', 'was also'], dtype=object)

In [82]:
df = pd.DataFrame(new_data.toarray(), index = [1,2], columns = cvt.get_feature_names_out())
df

,about,about it,also,also good,for,for us,good,good practice,good to,is,...,it was,know,know about,practice,practice for,to,to know,us,was,was also
1,0,0,0,0,1,1,1,1,0,1,...,0,0,0,1,1,0,0,1,0,0
2,1,1,1,1,0,0,1,0,1,0,...,1,1,1,0,0,1,1,0,1,1

In [83]:
cvt = CountVectorizer(ngram_range= (2,2))

new_data = cvt.fit_transform([sentence1, sentence2])

df = pd.DataFrame(new_data.toarray(), index = [1,2], columns = cvt.get_feature_names_out())
df

,about it,also good,for us,good practice,good to,is good,it is,it was,know about,practice for,to know,was also
1,0,0,1,1,0,1,1,0,0,1,0,0
2,1,1,0,0,1,0,0,1,1,0,1,1

In [ ]:
 m mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m m